# =========================
# ENVIRONMENTS
# =========================
.venv/
flood_env/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# DATA & MODELS (LARGE FILES)
# =========================
data/
model/
gis/

# =========================
# OUTPUT FILES
# =========================
outputs/*
!outputs/*.png

# Ignore heavy raster/model files
*.tif
*.tif.aux.xml
*.npy
*.pth

# =========================
# CACHE
# =========================
cache/
tile_cache/

# =========================
# MAC SYSTEM FILES
# =========================
.DS_Store

# =========================
# LOGS
# =========================
*.log
