# =========================
# ENVIRONMENTS
# =========================
.venv/
flood_env/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# DATA & MODELS
# =========================
data/
model/
gis/

# =========================
# OUTPUT FILES
# =========================
outputs/
*.tif
*.tif.aux.xml
*.npy
*.pth
*.png

# =========================
# CACHE
# =========================
cache/
tile_cache/

# =========================
# MAC SYSTEM FILES
# =========================
.DS_Store

# =========================
# LOGS
# =========================
*.log
