absl-py==2.4.0
affine==2.4.0
annotated-types==0.7.0
anywidget==0.9.21
asttokens==3.0.1
astunparse==1.6.3
attrs==25.4.0
beautifulsoup4==4.14.3
blessings==1.7
bqplot==0.12.45
branca==0.8.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cligj==0.7.2
comm==0.2.3
contextily==1.7.0
contourpy==1.3.3
cryptography==46.0.5
cycler==0.12.1
decorator==5.2.1
duckdb==1.4.4
earthengine-api==1.7.15
ee==0.2
eerepr==0.1.2
eval_type_backport==0.3.1
executing==2.2.1
filelock==3.24.3
flatbuffers==25.12.19
folium==0.20.0
fonttools==4.61.1
future==1.0.0
gast==0.7.0
gdown==5.2.1
geemap==0.37.1
geocoder==1.38.1
geographiclib==2.1
geojson==3.2.0
geopandas==1.1.2
geopy==2.4.1
google-api-core==2.30.0
google-api-python-client==2.190.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
google-cloud-core==2.5.0
google-cloud-storage==3.9.0
google-crc32c==1.8.0
google-pasta==0.2.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpcio==1.78.1
h5py==3.15.1
httplib2==0.31.2
idna==3.11
ipyevents==2.0.4
ipyfilechooser==0.6.0
ipyleaflet==0.20.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipyvue==1.12.0
ipyvuetify==1.11.3
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-leaflet==0.20.0
jupyterlab_widgets==3.0.16
keras==3.13.2
kiwisolver==1.4.9
leafmap==0.60.1
libclang==18.1.1
maplibre==0.3.6
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mercantile==1.2.1
ml_dtypes==0.5.4
namex==0.1.0
narwhals==2.17.0
networkx==3.6.1
numpy==2.4.2
opencv-python==4.13.0.92
opt_einsum==3.4.0
optree==0.19.0
osmnx==2.1.0
packaging==26.0
pandas==2.3.3
parso==0.8.6
pexpect==4.9.0
pillow==12.1.1
plotly==6.5.2
prompt_toolkit==3.0.52
proto-plus==1.27.1
protobuf==6.33.5
psygnal==0.15.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyogrio==0.12.1
pyparsing==3.3.2
pyperclip==1.11.0
pyproj==3.7.2
pyshp==3.0.3
PySocks==1.7.1
pystac==1.14.3
pystac-client==0.9.0
python-box==7.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
rasterio==1.5.0
ratelim==0.1.6
referencing==0.37.0
requests==2.32.5
rich==14.3.3
rpds-py==0.30.0
rsa==4.9.1
scikit-learn==1.8.0
scipy==1.17.1
scooby==0.11.0
setuptools==82.0.0
shapely==2.1.2
six==1.17.0
soupsieve==2.8.3
stack-data==0.6.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
threadpoolctl==3.6.0
tqdm==4.67.3
traitlets==5.14.3
traittypes==0.2.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
wcwidth==0.6.0
Werkzeug==3.1.6
wheel==0.46.3
whitebox==2.3.6
whiteboxgui==2.3.0
widgetsnbextension==4.0.15
wrapt==2.1.1
xyzservices==2025.11.0
